{% extends 'partials/base.html' %}
{% block content %}
<div class="container">
    <div class="row mt-5 pt-3">
        <div class="col-md-4">
            <div class="card my-3 shadow">
                <div class="card-body">
                    <h3>Form</h3>
                </div>
            </div>
        </div>        
        <div class="col-md-8">
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>26th June 2024</small>
                            <hr>
                            <a class="h3" href="">First post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odit at consectetur. Maiores ullam nemo consectetur obcaecati commodi sapiente explicabo officia deserunt. Perspiciatis, error sit quibusdam expedita minus accusantium sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>26th June 2024</small>
                            <hr>
                            <a class="h3" href="">First post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odit at consectetur. Maiores ullam nemo consectetur obcaecati commodi sapiente explicabo officia deserunt. Perspiciatis, error sit quibusdam expedita minus accusantium sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>26th June 2024</small>
                            <hr>
                            <a class="h3" href="">First post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odit at consectetur. Maiores ullam nemo consectetur obcaecati commodi sapiente explicabo officia deserunt. Perspiciatis, error sit quibusdam expedita minus accusantium sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card shadow mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <img src="" alt="img">
                        </div>
                        <div class="col-md-8">
                            <small>26th June 2024</small>
                            <hr>
                            <a class="h3" href="">First post</a>
                            <p class="text-justify my-3">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus odit at consectetur. Maiores ullam nemo consectetur obcaecati commodi sapiente explicabo officia deserunt. Perspiciatis, error sit quibusdam expedita minus accusantium sunt.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
{% endblock %}

{% block menu %}
<div class="container"></div>
{% endblock %}